# Files listed between (files/endfiles) will be symlinked to your (home/.*).

[files]

dosym/git/gitconfig

zsh/zshrc
zsh/zshenv
zsh/zlogin

config/nbrc
config/taskbook.json

[endfiles]

# Listed between (configfiles/endconfigfiles) will be symlinked to your (home/.config/*).
[configfiles]

config/micro

[endconfigfiles]
# TODO create functions to specify *which files* > *where to*